
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#startNewClock {
    width: 10vw;
    height: 10vw;

    margin: 5% auto;

    font-size: 8vw;
    font-weight: bold;

    border: 2px solid black;
    border-radius: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#startNewClock:hover {
    cursor: pointer;
    background: #bbb;
}

#input-field {
    width: max-content;

    margin: 0 auto;
    border: 2px solid black;
    border-radius: 18px;

    display: flex;
    flex-direction: row;
}

#input-date-container {
    width: 50vw;
    height: 50vw;

    margin: 3% auto;

    border: 2px solid black;
    border-radius: 12px;
}

#calendarHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 4% 5%;

    font-size: 3vw;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 20vw;
    max-height: 10vw;
}

.selected-option {
    background-color: #2a2a2a;
    color: white;
    padding: 1vw;
    border: 1px solid #555;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.options-list {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.3s ease;
    pointer-events: none;
    position: absolute;
    /* background-color: #2a2a2a; */
    z-index: 20;
    list-style: none;
    border: 1px solid #555;
    border-radius: 2vw;
    width: 100%;
    max-height: 35vw;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    margin: 5% 0 0 0;
    text-align: center;
    scrollbar-width: thin;
    scrollbar-color: #666 transparent;
}

.options-list.show {
    opacity: 1;
    transform: scaleY(1);
    pointer-events: auto;
}

.options-list li {
    padding: 4% 8%;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    /* border: 2px solid black; */
    border-radius: 1.5vw;
}

.options-list li:hover {
    background-color: #a1a1a1;
}

.options-list li.selected {
    background-color: #4285f4;
    color: white;
    font-weight: bold;
}

.options-list::-webkit-scrollbar {
  width: 6px;
}

.options-list::-webkit-scrollbar-track {
  background: transparent;
}

.options-list::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 3px;
}

.options-list::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

#input-time-container {
    width: 30vw;
    height: 50vw;

    margin: 3% auto;

    border: 2px solid black;
    border-radius: 12px;
}

#digital-time-container {
    width: 80%;
    height: 20%;

    margin: 8% auto;

    border: 2px solid transparent;
    border-radius: 15px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.time-box {
    width: 40%;
    height: 90%;

    border: 2px solid black;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 5vw;
}

#time-separator {
    width: 7%;
    height: 90%;

    /* border: 2px solid black; */
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.dot {
    width: 45%;
    height: 10%;

    background: black;

    border: 2px solid black;
    border-radius: 50%;
}

#clock-container {
    width: 95%;
    height: 57%;

    margin: auto;

    border: 2px solid black;
    border-radius: 10px;
}

.clock {
    position: relative;

    width: 90%;
    height: 90%;

    margin: 5% auto;

    border: 2px solid black;
    border-radius: 50%;
}

.number {
    position: absolute;

    width: 15%;
    height: 15%;

    font-size: 1.8vw;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    /* border: 2px solid  black; */
    border-radius: 50%;

    transform: translate(-50%, -50%);
    cursor: pointer;
  transition: background 0.2s;
}

.number:hover {
    background: #bbb;
}

.hand {
    width: 2%;
    height: 18%;

    background: black;

    margin: 32% auto;

    border: 2px solid black;
    border-radius: 20px;

    transform-origin: bottom center;
    transform: rotate(0deg);
    
    transition: transform 0.3s ease-in-out;
}

#btn-container {
    width: 90%;
    height: 10%;

    margin: 5% auto;

    /* border: 2px solid black; */
    border-radius: 12px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    margin: 1% auto;
    padding: 3%;
    padding-inline: 5%;

    font-size: 2.1vw;

    /* border: 2px solid black; */
    border-radius: 12px;
}

.btn:hover {
    cursor: pointer;
    background: #bbb;
}

/* #container {
    display: flex;
    justify-content: center;
    margin: 12% auto;
}

#watch {
    width: 300px;
    height: 300px;
    border: 10px solid black;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#days, #time {
    font-size: 30px;
}

#days {
    margin-bottom: 15%;
}

#time {
    margin-bottom: 15%;
} */